#sidebar {
    position: fixed;
    border: 3px solid rgb(255, 255, 255);
    width: 250px;
    height: calc(100vh - 50px - 3rem);
    background-color: #5b5b5b;
    margin: 0 1.5rem;
    padding: 2rem 0;
    border-radius: 10px;
}

#sidebar > div {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

#sidebar > div a {
    width: 100%;
    border-radius: 10px;
    /* border: 1px solid; */
    color: rgb(190, 190, 190);
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 0.3s;
}

#sidebar > div a:hover {
    scale: 1.1;
}